﻿.flat-table {
    display: block;
    overflow:hidden;
     width: 900px;
    height: 380px;
    font-family: sans-serif;
    font-size:large;
    font-style:italic;
    -webkit-font-smoothing: antialiased;
     border-spacing: 20px;
    position:absolute;
    top: 300px;
    left:130px;
}
  th {
    background-color: rgb(112, 196, 105);
    color: white;
    font-weight: normal;
    padding: 10px 20px;
    text-align: center;
  }
  td {
    background-color: rgb(238, 238, 238);
    color: rgb(111, 111, 111);
    padding: 50px;
  }

#UserName {
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 13px;
    line-height: 19px;
    font-weight: 300;
    color: #888;

}

.bodyImg{
    background-image: url("../Content/images/templatemo_slide_2.jpg");
}
