﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Body {
    <div id="add" style="position: absolute; right:100px; top:300px; display:block" class="col-md-5 col-sm-6">
        <img src="/Content/images/close.png" style="position: absolute; right:180px; top:-40px;" onclick="document.getElementById('add').style.display='none'">
        <h3 class="widget-title">CREATE NEW FILE</h3>
        <div class="contact-form">
            <form name="contactform" id="IdInp" method="post" action="">
                <p>
                    <input name="Name" type="text" id="fileName" placeholder="Your Name" />
                </p>
                <p><button class="mainBtn" id="sendData">Crete new file</button> </p>
            </form>

        </div>
    </div>
}

@section scripts

   {
    <script type="text/javascript">

        $(document).ready(function () {

            $("#sendData").click(function (event) {
                event.preventDefault();
                AddFile();
            });

        });

        function AddFile() {

            var file = [{
                FileName: document.getElementById("fileName").value,
            }];

            $.ajax({
                url: '/api/Update/',
                type: 'POST',
                data: JSON.stringify(file),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    window.location = "/Home/Index";
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        } </script>
}