﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Body {






    <div class="flexslider">

        <img src="~/Content/images/templatemo_slide_1.jpg" />


            <input type="text" size="35" id="Path" name="Dir" placeholder="Enter path" style="position: absolute; left:380px; top:230px;" />
            <button class="mainBtn"style="position: absolute; left:700px; top:230px;" id="setDir">Set direction</button>       

        <div id="tableBlock" class="flat-table"></div>

    </div>

}



@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tableBlock  tbody tr").remove();
            //console.log('here');

           

            $("#setDir").click(function (event) {
                event.preventDefault();
                GetAllBooks();
            });


        });

        function WriteResponse(content) {
            var strResult = "<table><th scope='col' abbr='Starter' >ID</th><th scope='col' abbr='Medium'>Name</th><th scope='col' abbr='Medium'>Size</th>";
            $.each(content, function (index, content) {
                strResult += "<tr><td>" + content.Id + "</td><td> " + content.FileName + "</td><td>" +
                content.FileSize + "</td></tr>";
            });
            strResult += "</table>";

            $("#tableBlock").html(strResult);

        }

        function GetAllBooks() {
            $("#tableBlock  tbody tr").remove();
            // $("#createBlock").css('display', 'block');
            // $("#editBlock").css('display', 'none');
            $.ajax({
                url: '/api/Update/',
                type: 'GET',
                
                dataType: 'json',

                success: function (data) {

                    WriteResponse(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

    </script>
}
