﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/mystyle.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("/Content/animate.css")" type="text/css"/>
    <link rel="stylesheet" href="@Url.Content("/Content/templatemo_misc.css")" type="text/css"/>
    <link rel="stylesheet" href="@Url.Content("/Content/templatemo_style.css")" type="text/css"/>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
</head>
<body class=bodyImg>
    <div id="summary">
        <div class="site-header">
            <div class="container">
                <div class="main-header">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-10">
                            <div class="logo">
                                <a href="#">
                                    <img src="~/Content/images/logo.png" >
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6 col-xs-2">
                            <div class="main-menu">
                                <ul class="visible-lg visible-md">
                                    <li class="active"><a href="/Home/Index">Home</a></li>
                                    <li>@Html.ActionLink("Create", "Create", "Home")</li>
                                    <li>@Html.ActionLink("Delete", "Create", "Home")</li>
                                </ul>
                                <a href="#" class="toggle-menu visible-sm visible-xs">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @RenderSection("Body");
    @RenderSection("scripts", required: true)
</body>
</html>
